/*/     Font Gasm   /*/
/*    Theme:  a website designed for ####
                Tier 3 client
                Source;: WOM
*/
/*
Design :  a web app that allows for fonts to be pulled from Google Font, and arranged on screen to test font synergy

THEME:

Fonts:


Colors: 
#FF52525; dark plant
#92FF92;  plant
#65CC2D; core 
#CC5C2D; brown
#997B6E; orange
 
*/